In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("./expc.csv")

In [10]:
df.head(5)

,סמל ועדה,שם ישוב,סמל ישוב,בזב,מצביעים,פסולים,כשרים,אמת,אצ,ב,...,צ,ץ,ק,קי,קך,קנ,קץ,רז,שס,ת
0,18,אבו גווייעד שבט,967,2279,549,9,540,1,0,0,...,1,0,0,0,0,0,0,0,4,3
1,2,אבו גוש,472,5094,2809,40,2769,14,1,1,...,2,7,1,0,1,1,3,0,4,0
2,6,אבו סנאן,473,10013,5458,76,5382,34,0,3,...,1,4,1,3,1,6,9,0,12,1
3,18,אבו עבדון שבט,958,154,41,0,41,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18,אבו קורינאת שבט,968,3386,1215,6,1209,5,0,1,...,0,1,0,0,2,1,0,0,3,0