In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("./expc.csv")

In [10]:
df.head(5) #this is show the row of start data

,סמל ועדה,שם ישוב,סמל ישוב,בזב,מצביעים,פסולים,כשרים,אמת,אצ,ב,...,צ,ץ,ק,קי,קך,קנ,קץ,רז,שס,ת
0,18,אבו גווייעד שבט,967,2279,549,9,540,1,0,0,...,1,0,0,0,0,0,0,0,4,3
1,2,אבו גוש,472,5094,2809,40,2769,14,1,1,...,2,7,1,0,1,1,3,0,4,0
2,6,אבו סנאן,473,10013,5458,76,5382,34,0,3,...,1,4,1,3,1,6,9,0,12,1
3,18,אבו עבדון שבט,958,154,41,0,41,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18,אבו קורינאת שבט,968,3386,1215,6,1209,5,0,1,...,0,1,0,0,2,1,0,0,3,0

In [14]:
df.tail() #this is show the row of end data

,סמל ועדה,שם ישוב,סמל ישוב,בזב,מצביעים,פסולים,כשרים,אמת,אצ,ב,...,צ,ץ,ק,קי,קך,קנ,קץ,רז,שס,ת
1211,18,תקומה,665,514,415,1,414,3,2,42,...,0,0,0,0,0,0,1,0,13,0
1212,2,תקוע,3563,2334,1686,11,1675,25,18,266,...,1,1,1,3,0,0,26,0,27,0
1213,18,תראבין אצאנע שבט,970,582,74,2,72,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1214,18,תראבין אצאנעישוב,1346,650,248,5,243,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1215,2,תרום,778,616,494,0,494,5,4,17,...,1,0,0,0,0,0,4,0,49,0

In [12]:
df.shape #this is show amunt of col and row

(1216, 47)

In [15]:
len(df)

1216

In [35]:
sum_kol = df.loc[[i for i in range(len(df))], "ג"]